# Python bytecode
*.pyc

# distutils/distribute metadata and outputs
pyudev.egg-info/*
build/*
dist/*

# Sphinx outputs
doc/_build/*

# Test environments and results
.tox/*
*-tests.xml

# Rope configuration
.ropeproject/*

# Vagrant files
.vagrant

# coverage files
htmlcov
.coverage

# pyreverse files
_pyreverse

# hypothesis files
.hypothesis

# vim
*.swp

# zip
*.gz

# pytest
.cache
