include README.txt
include LICENSE.txt
include MANIFEST.in
include stdeb.cfg
include multibootusb
include setup.py
include install.sh
include uninstall.sh
include scripts/__init__.py
include scripts/admin.py
include scripts/install_syslinux.py
include scripts/uninstall_distro.py
include scripts/detect_iso.py
include scripts/qemu.py
include scripts/var.py
include scripts/install_distro.py
include scripts/isodump.py
include scripts/multibootusb_ui.py
include scripts/update_cfg.py
include data/multibootusb.png
include data/multibootusb.desktop
include tools/checking.gif
include tools/mbr.bin
include tools/multibootusb.png
include tools/version.txt
include tools/multibootusb/chain.c32
include tools/multibootusb/extlinux.cfg
include tools/multibootusb/grub.exe
include tools/multibootusb/memdisk
include tools/multibootusb/menu.c32
include tools/multibootusb/menu.lst
include tools/multibootusb/syslinux.cfg
include tools/multibootusb/vesamenu.c32
include tools/syslinux/bin/syslinux3
include tools/syslinux/bin/syslinux4
include tools/syslinux/bin/syslinux5
include tools/syslinux/bin/syslinux6
