[Desktop Entry]
Type=Application
Name=multibootusb
Comment=Install multiple Linux Operating System on USB
Icon=/usr/share/pixmaps/multibootusb.png
Exec=multibootusb
Categories=System;
StartupNotify=true
